
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.title-badge {
    padding: 10px 22px;
    background: #2f80ff;
    font-size: 22px;
    font-weight: 600;
    color: #6afff3;
    letter-spacing: 0.5px;
    border-radius: 999px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0 15);
}

.container {
    display: flex;
    gap: 10px;
    perspective: 1000px;
}

.item {
    width: 140px;
    height: 260px;
    transition: transform 0.5s, filter 0.5s;
    transform-style: preserve-3d;
    filter: brightness(0);
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.item:hover {
    transform: translateZ(200px);
    filter: brightness(1);
}

/* Right side cards */
.item:hover + .item {
    transform: translateZ(120px) rotateY(30deg);
    filter: brightness(0.6);
}

.item:hover + .item + .item {
    transform: translateZ(60px) rotateY(15deg);
    filter: brightness(0.4);
}

/* Left side cards */
.item:has(+ .item:hover) {
    transform: translateZ(120px) rotateY(-30deg);
    filter: brightness(0.6);
}

.item:has(+ .item + .item:hover) {
    transform: translateZ(60px) rotateY(-15deg);
    filter: brightness(0.4);
}

.hover-text {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;

    color: var(--glow);

    text-shadow:
        0 0 6px var(--glow),
        0 0 12px var(--glow),
        0 0 24px var(--glow);

    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.35s ease;
}

.item:hover .hover-text {
    text-shadow:
        0 0 8px var(--glow),
        0 0 16px var(--glow),
        0 0 32px var(--glow);
}

.item:hover .hover-text {
    opacity: 1;
    transform: translateY(0);
}
